
#header {
    list-style-type: none;
    margin: auto;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: italic;
    display: inline;


}
div.leftcontent {
    float: left;
    width: 30%;
    margin: auto;
    text-align: center;
    clear: both;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: oblique;
    display: block;

}
div.rightcontent {
    position: relative;
    bottom: 90%;
    right:0%;
    float: right;
    width: 60%;
    margin: auto;
    padding-top: 200px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: oblique;
    display: block;

}
div.img {
    margin: auto;
    padding: 5px;
    border: 1px solid #0000ff;
    width: 100px;
    float: left;
    text-align: center;
    clear: both;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: oblique;
    display: block;

}
div.img img {
    margin: auto;
    border: 1px solid #ffffff;
}
div.img a:hover img {
    border:1px solid #0000ff;
}
div.desc {
    text-align: center;
    width: auto;
    margin: auto;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: oblique;
    display: block;
}
#imagelink {
    width: 10%;
    margin: auto;
    clear: both;
    float:left;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: oblique;
    display: block;

}
/* body*/
body {
    background-color: #A5A660 ;
    background-image   : url(../images/bg.gif);
    width: auto;
    padding: 25px;
    border: 5px #fff;
    margin: auto;
    border-style: outset;
    font-family: "Times New Roman", Times, serif;
    font-size:1em;
    font-weight: bold;
    font-style: oblique;
    display: block;

}
/* headings */
h1,h2,h3,h4,h5 {
    background: linear-gradient(to bottom, #f0b7a1 0%,#9902e5 48%,#9902e5 48%,#8c3310 50%,#bf6e4e 83%,#9902e5 90%,#9902e5 90%,#bf6e4e 100%);
    background-position: center;
    width: 30%;
    padding: 25px;
    border: 25px;
    margin: auto;
    border-radius: 25px;
    opacity: 0.7;
    text-align: center;
    line-height: 200%;
    text-shadow: 2px 2px #B2A5D1;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: oblique;
    clear: both;
    display: block;
}
#gallery {
    background: linear-gradient(to bottom, #f0b7a1 0%,#9902e5 48%,#9902e5 48%,#8c3310 50%,#bf6e4e 83%,#9902e5 90%,#9902e5 90%,#bf6e4e 100%);
    background-position: center;
    width: 30%;
    padding: 25px;
    border: 25px;
    border-radius: 25px;
    opacity: 0.7;
    text-align: center;
    line-height: 200%;
    text-shadow: 2px 2px #B2A5D1;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: oblique;
    clear: both;
    margin: auto;
    display: block;

}

/* content */
p {
    background-color: #ffffff;
    background-position: center;
    width: auto;
    padding: 5px;
    border: 5px;
    margin: auto;
    border-radius: 25px;
    font-family: "Times New Roman", Times, serif;
    font-size:1em;
    opacity: 0.7;
    display: block;
}
/*image*/
#image {
    background-color: #ffffff;
    width: 60%;
    border-radius: 25px;
    opacity: 0.7;
    margin:auto;
    display: block;


}
/* list */
ul {
    list-style-type: square;
    background: linear-gradient(to bottom, #f0b7a1 0%,#9902e5 48%,#9902e5 48%,#8c3310 50%,#bf6e4e 83%,#9902e5 90%,#9902e5 90%,#bf6e4e 100%);
    background-position: center;
    width: 40%;
    padding: 15px;
    border: 25px;
    margin: auto;
    border-radius: 15px;
    opacity: 0.7;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: oblique;
    font-size: 2em;
    display: block;
}


#icon {
    position: relative;
    left: 30px;
    width: 6%;

}

#mytable {
    border: 1px solid black;
    padding: 15px;
    margin: auto;


}
#mytable td, #mytable th {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: oblique;
    font-size: 1em;
    text-align: left;
    background-color: #A7C942;
    color: #000;
    width: 400px;
    border-collapse: collapse;
    letter-spacing: 6px;
    margin:auto;

}
table:hover {
    background-color:#bf6e4e
}
/* footer */
footer {

    color:#000000;
    padding:15px;
    clear:both;
    margin:auto;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: oblique;
    background-image: url("../images/nbg.gif");
    background-repeat: repeat-x;
    background-position: center;
    box-shadow: 10px 10px 5px #888888;
    width: 30%;
    height: 10%;
    display: block;
    text-align: center;

}

/* Links */
a:link {
    color:#0000ff;
}

a:visited {
    color:#3F240A;
}

a:hover {
    color: #FF240A;
}

a:active {
    color: #fff;
}

