/* body*/
body {
    background-color: #A5A660 ;
    width: Auto;
    height: 2400px;
    padding: 25px;
    border: 5px blue;
    margin: 25px;
    border-style: outset;
    font-family: "Times New Roman", Times, serif;


}
/* headings */
h1, h2,h3,#gallery {
    background-color: #ffffff;
    background-position: center;
    width: 150px;
    padding: 25px;
    border: 25px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 25px;
    opacity: 0.5;
    text-align: center;
    font-weight: bold;
    line-height: 200%;
    text-shadow: 2px 2px #B2A5D1;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}


/* content */
#content3 {
    float: right;
    margin: 0 0 10px 10px;
}

p {
    background-color: #ffffff;
    width: auto;
    padding: 25px;
    border: 25px;
    margin: 25px;
    border-radius: 25px;
    opacity: 0.5;
    font-family: "Times New Roman", Times, serif;

}
/* Image */
#mountains {
    margin-left:auto;
    margin-right:auto;

}

#image {
    background-color: #ffffff;
    width: 313px;
    padding: 25px;
    border: 25px;
    margin: 25px;
    border-radius: 25px;
    opacity: 0.7;
    margin-left:auto;
    margin-right:auto;
}
/* list */
ul {
    list-style-type: square;
    background-color: #ffffff;
    background-position: center;
    width: 200px;
    padding: 15px;
    border: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    opacity: 0.5;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}
/* footer */
footer {

    color:#000000;
    padding:50px;
    clear:both;
    height: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Times New Roman", Times, serif;
}
/* Links */
a:link {
    color: blue;
}

a:visited {
    color: green;
}

a:hover {
    color: black;
}

a:active {
    color: yellow;
}