
/*div {
    background-color: #888888;
}*/
div.leftcontent {
    float: left;
    width: 30%;
    margin: 10px;
    text-align: center;
    clear: both;
}
div.rightcontent {

    float: right;
    width: 60%;
    margin: 10px;
    padding-bottom: 60px;
    text-align: center;

}
div.img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    width: 100px;
    float: left;
    text-align: center;
    clear: both;
}

div.img img {

    margin: 5px;
    border: 1px solid #ffffff;
}

div.img a:hover img {
    border:1px solid #0000ff;
}

div.desc {
    text-align: center;
    font-weight: normal;
    width: auto;
    margin: 5px;
}

#imagelink {
    width: 10%;
    margin: 1%;
    clear: both;
    float:left;
}

/* body*/
body {
    background-color: #A5A660 ;
    width: Auto;
    padding: 25px;
    border: 5px #fff;
    margin: 25px;
    border-style: outset;
    font-family: "Times New Roman", Times, serif;
    font-style: inherit;
    background-image: url("../images/bg.gif");
    font-size:1em;


}
/* headings */
h1,h2,h3 {
    background: linear-gradient(to bottom, #f0b7a1 0%,#9902e5 48%,#9902e5 48%,#8c3310 50%,#bf6e4e 83%,#9902e5 90%,#9902e5 90%,#bf6e4e 100%);
    background-position: center;
    width: 150px;
    padding: 25px;
    border: 25px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 25px;
    opacity: 0.5;
    text-align: center;
    font-weight: bold;
    line-height: 200%;
    text-shadow: 2px 2px #B2A5D1;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    clear: both;

}
#gallery {
    background: linear-gradient(to bottom, #f0b7a1 0%,#9902e5 48%,#9902e5 48%,#8c3310 50%,#bf6e4e 83%,#9902e5 90%,#9902e5 90%,#bf6e4e 100%);
    background-position: center;
    width: 150px;
    padding: 25px;
    border: 25px;
   /* margin-left:auto;
    margin-right:auto;*/
    border-radius: 25px;
    opacity: 0.5;
    text-align: center;
    font-weight: bold;
    line-height: 200%;
    text-shadow: 2px 2px #B2A5D1;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    clear: both;

}

/* content */


p {
    background-color: #ffffff;
    background-position: center;
    width: auto;
    padding: 5px;
    border: 5px;
    margin: 5px;
    border-radius: 25px;
    font-family: "Times New Roman", Times, serif;
    opacity: 0.7;

}
/* Image
#mountains {
    margin-left:auto;
    margin-right:auto;

}*/

#image {
    background-color: #ffffff;
    width: 313px;
    /*padding: 25px;
    border: 25px;*/
    margin: 25px;
    border-radius: 25px;
    opacity: 0.7;
    margin-left:auto;
    margin-right:auto;
}
/* list */
ul {
    list-style-type: square;
    background: linear-gradient(to bottom, #f0b7a1 0%,#9902e5 48%,#9902e5 48%,#8c3310 50%,#bf6e4e 83%,#9902e5 90%,#9902e5 90%,#bf6e4e 100%);
    background-position: center;
    width: 200px;
    padding: 15px;
    border: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    opacity: 0.5;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}
/* footer */
footer {

    color:#000000;
    padding:10px;
    clear:both;
    margin-left: auto;
    margin-right: auto;
    font-family: "Times New Roman", Times, serif;
    background-image: url("../images/nbg.gif");
    background-repeat: repeat-x;
    background-position: center;
    box-shadow: 10px 10px 5px #888888;
    width: 30%;
    height: 10%;
    display: block;
    text-align: center;
    float: bottom;
}

/* Links */
a:link {
    color:#0000ff;
}

a:visited {
    color:#A5A660;
}

a:hover {
    color: #000000;
}

a:active {
    color: #B2A5D1;
}